---
layout: default
---
<!-- about.html -->
<head>
  <style>
  .academiccontainer {
    width: 100%;
    display: block;
    float:left
  }

  .words1 {
    float:left;
  }

  .words2 {
    float:right;
  }

  /* Media queries for different screen sizes */

  /* For small screen */
  @media only screen and (max-width:768px) and (orientation:portrait) {
    .words1 {
      float: top;
    }
    .words2 {
      float: bottom;
    }
  }
 
</style>
</head>



      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image -%}
              {%- if page.profile.address %}
              <div class="address">
                {{ page.profile.address }}<br>
                <div class="social">
                  <div class="contact-icons">
                    {% include social.html %}
                  </div>  
                </div>
              </div>
              {%- endif %}
              {%- if page.social %}
          
            {%- endif %}
            {% endif -%}
       
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>
          <hr>


          <div class = "academiccontainer">
            <p style="font-size: 25px; font-weight:bold">Academic Positions</p>
            
            <div class = "words1" style="font-weight:bold">Yale University, School of Management</div>
            <div class = "words2">New Haven, CT</div>
            <br>
            <div class ="words1">Assistant Professor of Marketing</div>
            <div class="words2">2023 - present</div>
            <br> <br>
    
            <div class = "words1" style="font-weight:bold">University of Iowa, Tippie College of Business</div>
            <div class = "words2">Iowa City, IA</div><br>
            <div class = "words1"> Assistant Professor of Business Analytics</div>
            <div class = "words2">2016 - 2023</div><br>
            <div class = "words1" style="font-style: italic;">(Promotion and Tenure Granted in 2023)</div>
            <br><hr>
          </div>          

          <div class = "academiccontainer">
            <p style="font-size: 25px; font-weight:bold">Education</p>
            
              <div class = "words1" style="font-weight:bold">Massachusetts Institute of Technology</div>
              <div class="words2">Cambridge, MA</div>
            <br>
              <div class = "words1">Ph.D. in Computer Science</div>
              <div class="words2">2012 - 2016</div>
            <br>
              <div class="words1">M.S. in Electrical Engineering and Computer Science</div>
              <div class="words2">2010 - 2012</div>
              <br><br>

              <div class="words1" style="font-weight:bold">Beijing University of Posts and Telecommunications</div>
              <div class="words2">Beijing, China</div>
              <br>
              <div class="words1">B.S. in Electrical Engineering with <span style="font-style: italic;">Highest Distinction</span></div>
              <div class="words2">2006 - 2010</div>
            <br><hr>
          </div>  

          <br>



          
          

        <!-- <div>
            <p style="font-size: 25px; font-weight:bold">Academic Positions</p>
            
            <span style="float: left; font-weight:bold">Yale University, School of Management</span>
            <span style="float: right;">New Haven, CT</span><br>
            <span style="float: left;">Assistant Professor of Marketing</span>
            <span style="float: right;">2023 - present</span><br> <br>
    

            <span style="float: left; font-weight:bold">University of Iowa, Tippie College of Business</span>
            <span style="float: right;">Iowa City, IA</span><br>
            <span style="float: left;"> Assistant Professor of Business Analytics</span>
            <span style="float: right;">2016 - 2023</span><br>
            <span style="font-style: italic;">(Promotion and Tenure Granted in 2023)</span>
          </div>

          <hr>

          <div>
            <p style="font-size: 25px; font-weight:bold">Education</p>
            
            <span style="float: left; font-weight:bold">Massachusetts Institute of Technology</span>
            <span style="float: right;">Cambridge, MA</span><br>
            <span style="float: left;">Ph.D. in Computer Science</span>
            <span style="float: right;">2012 - 2016</span><br>
            <span style="float: left;">M.S. in Electrical Engineering and Computer Science</span>
            <span style="float: right;">2010 - 2012</span><br><br>

            <span style="float: left; font-weight:bold">Beijing University of Posts and Telecommunications</span>
            <span style="float: right;">Beijing, China</span><br>
            <span style="float: left;">B.S. in Electrical Engineering with <span style="font-style: italic;">Highest Distinction</span></span>
            <span style="float: right;">2006 - 2010</span><br>
          </div>
        -->
          

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html limit=true %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
             <!--   {% include social.html %}-->
              </div>

              <div class="contact-note">
             <!--   {{ site.contact_note }}-->
              </div>

            </div>
          {%- endif %}
        </article>

</div>
